services:
  app:
    build: .
    container_name: classroom_reservation_system
    volumes:
      - .:/var/www
    networks:
      - laravel
    env_file:
      - .env.docker

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    ports:
      - "8080:80"
    volumes:
      - .:/var/www
      - ./docker/nginx:/etc/nginx/conf.d
    depends_on:
      - app
    networks:
      - laravel

  node:
    image: node:20-alpine
    container_name: laravel_node
    working_dir: /var/www
    volumes:
      - .:/var/www
    command: sh -c "npm install && npm run build"

volumes:
  sqlite_data:

networks:
  laravel:
